<!-- Hbs is only a html file with a few extra featurs for adding dynamic values -->

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        <script src="./js/app.js"></script>
    </head>
    <body>
        <div class = "main-content">
            {{>header}}
        </div>
        {{>footer}}
    </body>
</html>